// Заголовки, общие БЄМ блоки и прочее...
//====================================================================================================
@use "sass:math";
//====================================================================================================
.visually-hidden {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}
//====================================================================================================
.title {
	font-family: "Tenor Sans";
	@include adaptiveValue("font-size", 28, 20, 1920, 320);
	margin-bottom: rem(20);
}
body {
	@include adaptiveValue("font-size", 16, 14, 1920, 320);
}
